# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
dapp/node_modules
node_modules
subgraph/dist/

# testing
dapp/coverage

# production
dapp/build
solidity/build
subgraph/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
